<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= locals.title || 'Cookie Template' %></title>

	<%- include('./partials/cdn/jquery'); %>
	<%- include('./partials/cdn/bootstrap'); %>
	<%- include('./partials/cdn/fontawesome'); %>

	<link rel='stylesheet' href='/css/style.css' />
</head>
<body>
	<%- body %>
	<%- include('./partials/cdn/socketio'); %>
	<script src="/js/script.js" ></script>
</body>
</html>